<section class="cd-horizontal-timeline">
  <h1 class="results-heading">Results</h1>
	<div class="timeline">
		<div class="events-wrapper">
			<div class="events">
				<ol>
        <!-- year-month-day -->
        <!-- day/month/year -->
        <% @index_timeline.each_with_index do |article, index| %>
          <%date = article.published_at%>

          <% date_format = date.strftime('%d/%m/%Y T %H:%M:%S')%>

					<li><a href="#0" data-date="<%=date_format%>" class="<%='selected' if index == 0%>"><div><%=date_format.gsub("T", "")%></div></a></li>
				</ol>
        <% end %>


				<span class="filling-line" aria-hidden="true"></span>
			</div> <!-- .events -->
		</div> <!-- .events-wrapper -->

		<ul class="cd-timeline-navigation">
			<li>
        <a href="#0" class="prev inactive">Prev</a>
        <p class="older">Newer</p>
      </li><!-- here -->
			<li>
        <a href="#0" class="next">Next</a>
        <p class="newer">Older</p>
      </li><!-- here -->
		</ul> <!-- .cd-timeline-navigation -->
	</div> <!-- .timeline -->

	<div class="events-content" style="min-height: 500px">
		<ol>
    <% @index_timeline.each_with_index do |article, index| %>
        <%date = article.published_at%>

        <% date_format = date.strftime('%d/%m/%Y T %H:%M:%S')%>

        <li class="<%='selected' if index == 0%>" data-date="<%=date_format%>"><!-- here -->
          <div class="index-card">
             <div class="d-flex d-inline justify-content-between">
                <p><%= article.published_at %> | <%= article.source %></p><!-- here -->
                <div class="share-buttons d-flex d-inline flex-row pr-2">
                  <div class="twitter-share m-1">
                     <a class="twitter-share-button"
                      href="https://twitter.com/intent/tweet?text=<%= URI.encode(article_url(article)) %>">
                       <i class="fab fa-twitter-square"></i>
                     </a>
                  </div>
                   <div class="facebook-share m-1" data-href="<%= URI.encode(article_url(article)) %>" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=<%= URI.encode(article_url(article)) %>&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"><i class="fab fa-facebook-square"></i></a></div>
               </div>
            </div>
          <h4><%= article.title %></h4>
          <p><%= article.description&.truncate(150) %></p><!-- here -->
        <div class="index-card-links">
        <%= link_to "See full article", article.article_url, target: :_blank, class: "btn btn-ireland" %>
        <button type="button" class="btn btn-ireland-outline" data-toggle="modal" data-target='#modal-article<%= article.id %>'>
          Save Article
        </button>
  <div class="modal fade" id='modal-article<%= article.id %>' tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Save Article to Timeline</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        <h6>Save this article in a new topic</h6>
          <%= simple_form_for @timeline do |f| %>
            <%= f.input :topic, placeholder: 'Enter topic name', label: false %>
            <input name="saved_article_id" type="hidden" value="<%= article.id %>" />
            <%= f.button :submit, class: "btn btn-ireland mb-1" %>
          <% end %>
          <hr style="border-color: white">
        <h6>Add to an existing topic</h6>
        <%= simple_form_for @saved_article do |f| %>
            <%= f.input :timeline, collection: @timelines.pluck(:topic), label: false %>
            <%= f.hidden_field :article_id, value: article.id %>
            <%= f.button :submit, "Add", class: "btn btn-ireland" %>
            <% end %>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-ireland-outline" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  </div>

      </div>
			</li>
      <% end %>
		</ol>
	</div> <!-- .events-content -->
</section>



<%= javascript_pack_tag 'timeline' %>
