<h2>This page is for displaying search results</h2>
<h4>We need a timeline for the results from the API</h4>


  <% @index_timeline.each do |article| %>
    <div class="card">
      <h5><%=  article.title %> </h5>
      <p><%= article.source %></p>
      <p><%= article.description %></p>
      <p><%= article.published_at %></p>
      <%= link_to "Save article to new timeline" %>  
      <%= link_to "Save article to existing timeline" %>
    </div>
          
  
<% end %>





