<h2>This page is for displaying search results</h2>
<h4>We need a timeline for the results from the API</h4>


  <% @index_timeline.each do |article| %>
    <div class="index-card">
      <p><%= article.published_at %> | <%= article.source %></p> 
      <h5><%=  article.title %> </h5>
      <p><%= article.description.truncate(100) %></p>
      <div class="index-card-links">
      <%= link_to "See full article", article.article_url, target: :_blank, class: "btn btn-ireland" %>
      <%= link_to "Save article to timeline", article.article_url, target: :_blank, class: "btn btn-ireland-outline" %>  
      </div>
      
    </div>
          
  
<% end %>





