<h2>This page is for displaying search results</h2>
<h4>We need a timeline for the results from the API</h4>

<ul>
  <% @all_articles.last(5).each do |article| %>
  <li>
    
      <h4><%=  article.title %> </h4>
      <p><%= article.name %></p>
      <p><%= article.description %></p>
      <p><%= article.publishedAt %></p>
      
      <%= link_to "Save article to timeline" %>    
    
  </li>
   
<% end %>
</ul>




