<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "open_radix", root_path, class: "navbar-brand" %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse mx-3" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "home", root_path, class: current_class?(root_path) %>
        </li>
        <li class="nav-item">
          <%= link_to "about", about_path, class: current_class?(about_path) %>
        </li>
        <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="search articles" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">find source</button>
    </form>
        <li class="nav-item dropdown mt-2 ml-3">
          <i id="navbarDropdown" data-toggle="dropdown" aria-haspopup='true' aria-expanded='false' style="color: #1EDD88; cursor: pointer"><%= current_user.name %></i>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "My Timelines", timelines_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
