<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">


  <%= link_to "open_radix", root_path, class: "navbar-brand ml-2" %>
  <%= form_tag articles_path, class: "form-inline", style: is_home?(root_path), method: :get do %>

          <%= text_field_tag :query,
          params[:query],
          class: "form-control search-input mr-1 radius-1px",
          autocomplete: "off",
          placeholder: ""
          %>
          <%= button_tag(type: "Submit", class: "btn", id: "nav-search-button") do  %>
             <i class="fas fa-search"></i>
          <% end %>
   <% end %>



  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse mx-1" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "home", root_path, class: current_class?(root_path) %>
        </li>
        <li class="nav-item">
          <%= link_to "about", about_path, class: current_class?(about_path) %>
        </li>
        <li class="nav-item-user dropdown mt-2">

         <li class="nav-item mr-3">
          <%= link_to "my timelines", timelines_path, class: current_class?(timelines_path) %>
        </li>
        <li class="nav-item-user dropdown mt-2">
             <i class="fas fa-user avatar ml-1 fa-lg mb-1" id="navbarDropdown" style="color: #181818; cursor: pointer" data-toggle="dropdown" aria-haspopup='true' aria-expanded='false'></i>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

