<h1> <span style="color: #1EDD88"><%= current_user.name.downcase %>'s</span> timelines</h1>
<hr>


<div class="timeline-grid mb-3">


 <%  @timelines.each do |timeline| %>
  <div class="timeline-card">
    <h3> <%= timeline.topic %> </h3>
    <h6><%= timeline.saved_articles.count %> articles</h6>
    <%= link_to "View this timeline", timeline_path(timeline), class: "btn btn-ireland btn-block mb-1" %>
    <%= link_to "Delete this timeline", timeline_path(timeline), class: "btn btn-ireland-outline btn-block", method: :delete,
                  data: { confirm: "Are you sure?" } %>
  </div>
  <% end %>

</div>
<%= link_to "Back to search", root_path, class: "btn btn-ireland btn-small" %>
