<!DOCTYPE html>
<html>
  <head>
    <title>RailsOpenRadix</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Source+Code+Pro:wght@200;400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0f9c81f1be.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= render 'shared/footer' %>
    <div class="container">
    <%= yield %>
    </div>

    <div class="footer mt-5 d-flex justify-content-between fixed-bottom">
      <p class="footer-text">Copyright © 2020 Open Radix. All rights reserved</p>
      <span><a href="#"><i class="fab fa-instagram"></i></a>
       <a href="#"><i class="fab fa-github"></i></a>
       <a href="#"><i class="fab fa-twitter"></i></a></span>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>

  </body>
</html>

